{% extends 'base.html' %}

{% block content %}
    <div class="uk-container">
        <div class="uk-text-lead uk-text-large uk-text-uppercase">
            <p>{{topic.title}}</p>
        </div>
        <div class="uk-text-secondary">
            {% for tag in topic.tags.all %}
                <span class="uk-label uk-label-warning"><a href="{% url 'blog:tag_detail' slug=tag.slug%}">{{tag.title}}</a></span>
            {% endfor %}
        </div>
        <div class="uk-text-italic uk-margin-bottom">
            <li><span uk-icon="icon: user"></span>{{topic.author}}</li>
            <li><span uk-icon="icon: calendar"></span>{{topic.created}}</li>
        </div>
        {% for message in message_list %}
            <article class="uk-comment uk-visible-toggle uk-margin-bottom">
                <header class="uk-comment-header">
                    <div class="uk-grid-medium uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <span uk-icon="icon: user" width="80" height="80" alt=""></span>
                        </div>
                        <div class="uk-width-expand">
                            <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">{{message.user}}</a></h4>
                            <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                                <li><a href="#">{{message.author}}</a></li>
                                <li><a href="#">{{message.pub_date}}</a></li>
                                <li><a href="#">Reply</a></li>
                            </ul>
                        </div>
                    </div>
                </header>
                <div class="uk-comment-body uk-margin-xlarge-left">
                    <p>{{message.text}}</p>
                </div>
            </article>
        {% endfor %}
        {% if user.is_authenticated %}
            <form action="{% url 'forum:send_message' slug=topic.slug %}" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <div class="uk-form-width-medium" class="uk-margin">
                    <textarea class="uk-textarea" rows="5" name="text" required="" placeholder="Message text"></textarea>
                </div>
                <button type="submit" class="uk-button uk-button-primary">Send</button>
            </form>
        {% else %}
            <div class="uk-alert-danger" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p>Please log in to send_message</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
